@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Slackey&display=swap');

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
    box-sizing: border-box;
    color: #030303;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    background-image: url(../../public/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    height: 60px;
}

footer i {
    font-size: 2rem;
    margin-left: 1.2rem;
    transition: 0.4s ease;
    cursor: pointer;
}

footer i:hover {
    color: #ee155e;
    transition: 0.4s ease;
}

/* YO LOSE */

.titulo-yo,
.titulo-lose {
    font-family: 'Rubik Puddles', cursive;
    background: #ee155e;
    background: linear-gradient(to top, #ee155e 40%, #fff719 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    underline: none;
    margin: 0;

}

.titulo-yo {
    font-size: 16vw;
}

.titulo-lose {
    font-size: 12vw;
    margin-top: -12%;
 
}


.btn-yolose {
    margin: 1rem 0;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #eb0052);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-yolose:active,
.btn-yolose:hover {
    outline: 0;
    transform: scale(1.02);
    transition: 0.2s ease;
}

.btn-yolose span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-yolose:hover span {
    background: none;
}


.border-yolose{
    border: 2px solid #ee155e;
    color: #fff;
}
  
  





.text-logo {
    font-size: 2rem;
    background: #ee155e;
    background: linear-gradient(to top, #ee155e 40%, #fff719 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    underline: none;
}

.form-yolose input {
    margin-bottom: 1.2rem;
}

.form-yolose select {
    margin-bottom: 1.2rem;
}

.form-label {
    font-weight: 600;
    padding: 0px;
    text-shadow: -3px 3px 5px rgba(0,0,0,0.6);
}

.blue {
    color: #fff;
    padding: 1rem;
    background-color: blue;
}

.brown {
    color: #fff;
    padding: 1rem;
    background-color: brown;
}

.purple {
    color: #fff;
    padding: 1rem;
    background-color: purple;
}

.green {
    color: #fff;
    padding: 1rem;
    background-color: green;
}

.blueviolet {
    color: #fff;
    padding: 1rem;
    background-color: blueviolet;
}

.orange {
    color: #fff;
    padding: 1rem;
    background-color: orange;
}

.turquoise {
    color: #fff;
    padding: 1rem;
    background-color: turquoise;
}

@media (max-width: 768px) {
    .container {
        max-width: 98% !important;
        margin: auto !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 70% !important;
        margin: auto !important;
    }
}

@media (min-width: 996px) {
    .container {
        max-width: 50% !important;
        margin: auto !important;
    }
}