@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik+Puddles&display=swap');
html,
body {
    width: auto !important;
    overflow-x: hidden !important;
    box-sizing: border-box;
    color: #030303;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
}

/* COLORES Y BG */
.bg-inicio {
    min-height: 100vh;
    background-image: url(../../public/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-jugar {
    min-height: 100vh;
    background-image: url(../../public/fondo-jugar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-partida {
    min-height: 100vh;
    background-image: url(../../public/fondo-partida.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TITULOS 3D */
.title-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
}

.top-title {
    order: 1;
    text-align: center;
    display: block;
    color: #fff;
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin-bottom: 1rem;
    padding-right: 2rem;
}

.bottom-title {
    order: 3;
    text-align: center;
    display: block;
    color: #fff;
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin-top: 2rem;
    padding-left: 2rem;
}

.sweet-title {
    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
        3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
        6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
        6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
        9px 7px 1px #4af7ff;
}

.font-inicio {
    font-size: clamp(8rem, 16vw, 12rem);
}

.sweet-title span {
    display: block;
    position: relative;
}

.sweet-title span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
    z-index: 1;
}

.sweet-title span:nth-child(1) {
    padding-right: 2.25rem;
}

.sweet-title span:nth-child(2) {
    padding-left: 2.25rem;
}

.disclaimer {
    width: 100%;
    height: 2rem;
    text-align: center;
    color: #fff;
}

.disclaimer a {
    color: #fff;
}

.text-logo {
    background: #ee155e;
    background: linear-gradient(to top, #ee155e 40%, #fff719 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    underline: none;
    margin: 0;
}

.border-yolose {
    border: 2px solid #ee155e;
    color: #fff;
}

.font-6 {
    font-size: 6vw;
}

.font-8 {
    font-size: 8vw;
}

/* BOTONES */
.btn-yolose {
    margin: 1rem 0;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #eb0066);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-yolose:active,
.btn-yolose:hover {
    outline: 0;
    transition: 0.2s ease;
    box-shadow: -8px 8px 26px 3px #5c033b;
    -webkit-box-shadow: -8px 8px 26px 3px #5c033b;
    -moz-box-shadow: -8px 8px 26px 3px #5c033b;
}

.btn-yolose span {
    background-color: #05062d;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-yolose:hover span {
    background: none;
}

/* INICIO */
.titulo-partida {
    font-size: 6vw;
    text-align: center;
    color: #fdf0ba;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b,
        10px 10px 0px #efa032,
        15px 15px 0px #46b59b,
        20px 20px 0px #017e7f,
        25px 25px 0px #052939,
        30px 30px 0px #ce6108,
        35px 35px 0px #c11a2b;
}


/* MENU HOME */

.dropdown{
    position: absolute;
    left: 15%;
    top: 4%;
}

.dropdown-menu{
    margin-top: 0.5rem !important;
    color: #ff1f71;
    background-color: #303030f0;
}

.dropdown-menu a{
    color: #ff1f71;
}

.dropdown-menu a:hover{
    color: #fff;
    background-color: #ff1f71;
}

.menu-icon i{
    font-size: 2.2rem;
    background: #ee155e;
    background: linear-gradient(to top, #ee155e 40%, #fff719 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 10%;
    top: 5%;
}

.menu .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.menu .btn:hover a {
    letter-spacing: 3px;
}

.menu .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.menu .btn:hover a::before {
    transform: skewX(45deg) translate(200px);
}

.menu .btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.menu .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.menu .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.menu .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.menu .btn:nth-child(1)::before,
.menu .btn:nth-child(1)::after {
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
        0 0 60px #ff1f71;
}


/* HOME JUGAR */
.btn-jugar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5vw;
    color: #ff1f71;
    background-color: #303030cb;
    width: 23vw;
    height: 23vh;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    border: 1px solid #ff1f71;
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn-jugar:hover {
    color: #ffff;
    background-color: #ff1f71;
    transition: 0.4s ease;
    font-size: 3vw;
}

.volver {
    background-image: none !important;
    background-color: #4f4f4f !important;
    color: #ffff !important;
}

/* FORMULARIOS */
.form-yolose input {
    margin-bottom: 1.2rem;
}

.form-yolose select {
    margin-bottom: 1.2rem;
}

.form-label {
    font-weight: 600;
    padding: 0px;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.6);
}

.blue {
    color: #fff;
    padding: 1rem;
    background-color: blue;
}

.brown {
    color: #fff;
    padding: 1rem;
    background-color: brown;
}

.purple {
    color: #fff;
    padding: 1rem;
    background-color: purple;
}

.green {
    color: #fff;
    padding: 1rem;
    background-color: green;
}

.blueviolet {
    color: #fff;
    padding: 1rem;
    background-color: blueviolet;
}

.orange {
    color: #fff;
    padding: 1rem;
    background-color: orange;
}

.turquoise {
    color: #fff;
    padding: 1rem;
    background-color: turquoise;
}

.text-shadow{
    text-shadow: -3px 3px 5px #000000aa;
}

@media (max-width: 768px) {

    .menu .btn {
        width: 60px;
        height: 30px;
    }

    .btn-jugar {
        width: 100%;
        height: 10vh;
    }
    
}

@media (min-width: 768px) {  
.dropdown{
    top: 3%;
}

.dropdown-menu{
    background-color: #303030cb;
}

.menu-icon i{
    font-size: 3rem;
}
}

@media (min-width: 996px) {}