<!DOCTYPE html>
<html lang="es">
<title>YoLoSE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<header class="w3-row" >
    <div class="w3-third w3-center">
        <a href="index.php"><img src="public/logo.jpg" width="20%" height="20%"></a>
    </div>
    <div class="w3-third w3-center" >
        <h1 ><b>YoLoSe</b></h1>
    </div >



    <div class="w3-third w3-col s4">

        <a href="/login" class="w3-btn w3-blue">Ingresar</a>
  </div>


<div class="w3-bar w3-blue">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button usuario"  style="display: none">usuario</a>
    <a href="#" class="w3-bar-item w3-button editor" style="display: none">editor</a>
    <a href="#" class="w3-bar-item w3-button admin" style="display: none">admin</a>
</div>


</header>
<script>
    if({{rol}} ==1){
        document.getElementById("usuario").style.display = "block";

    }
    if({{rol}} ==2){
        document.getElementsByClassName(".editor").style.display = "block";
        document.getElementsByClassName("usuario").style.display = "block";
    }
    if({{rol}} ==3){
        document.getElementsByClassName("usuario").style.display = "block";
        document.getElementsByClassName("editor").style.display = "block";
        document.getElementsByClassName("admin").style.display = "block";
    }


</script>