<section class="bg-dark-subtle text-center p-5 rounded">
  <h4>REGLAS</h4>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est reprehenderit,
    numquam hic laudantium temporibus possimus nisi itaque nihil beatae
    blanditiis?
  </p>
</section>
