
{{#pregunta}}
<div class='w3-panel  w3-center w3-border w3-round-xxlarge w3-{{color}}'>

     <h2> {{descripcion}} {{/pregunta}}</h2>
      {{#respuestas}}
        <table class="w3-table ">
                     <tr>
                       <td> <button class="w3-button  w3-center w3-border  w3-black w3-max" style="width:100%">{{descripcion}}</button> </td>
                     </tr>
                     </table>
      {{/respuestas}}

      <div class="w3-panel w3-red">
          <a href="/reportar" class="w3-button w3-black">Reporar</a>
          <a href="/" class="w3-button w3-black">Ayudita : )</a>
      </div>

  </div>
