<!doctype html><html lang="es"><head><meta charset="UTF-8"><title>Email de Validacion de registro</title></head><body><h1>Gracias por registrarse en Yolose</h1><h2>Para validar su cuenta por favor haga click en el siguiente enlace de activación</h2><a href="http:/localhost:80/activation/activarCuenta&id={{id}}" role="button">Activar Cuenta</a></body></html>