<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YoLoSe</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>
<header>

<h1>Gracias por registrarse en Yolose</h1>
<h2>Para validar su cuenta por favor haga click en el siguiente enlace de activacion</h2>
<h3>
<a href="http://localhost/activation/activarCuenta&id={{id}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" >Activar la cuenta</a>
</h3>
</header>
</body>
</html>