<!doctype html><html lang="es"><head><meta charset="UTF-8"><title>Email de Validacion de registro</title></head><body><h1>Gracias por registrarse en Yolose</h1><h2>Para validar su cuenta por favor ingrese este codigo de 5 digitos</h2><a href="http:/localhost:80/validation/validar&id={{id}}" role="button">Activar Cuenta</a></body></html>