{{#ok}}
    <div class="alert alert-success" role="alert">
        <strong>{{ok}}</strong>
        <script>function redireccionarPagina() {
            window.location = "/login";
        }
        setTimeout("redireccionarPagina()", 5000);</script>
    </div>
    <div> Seras Redirigido en 5 segundos</div>
{{/ok}}
{{#error}}
    <div class="alert alert-danger" role="alert">
        <strong>{{error}}</strong>
    </div>
{{/error}}
{{#id}}
<section class="container">
    <h1 class="text-center">Bienvenido a Yolose {{username}}</h1>
    <p>Se le enviara un email para que pueda verificar su cuenta</p>
</section>
{{/id}}