<div class="bg-inicio d-flex flex-column justify-content-around align-items-center h-100">
    {{#error}}
    <div class="alert alert-danger" role="alert">
        <strong>{{error}}</strong>
    </div>
    {{/error}}
    {{#id}}
    <section class="container text-center text-white">
        <h1 class="text-logo">Bienvenido a Yolose {{username}}</h1>
        <p>Se le enviará un <span class="text-success fw-bold">email</span> para que pueda verificar su cuenta</p>
        <a href="/" class="btn-yolose p-3 w-50 m-auto">Ir al incio</a>
    </section>
    {{/id}}
</div>