<div class="bg-admin">
    <h2 class="titulo-partida text-center pt-5 pb-3">REPORTES </h2>
    <article class="bg-dark py-3 mb-3">
        <div class="container">
            <div class="row my-3 text-white text-center">
                <div class="col-md-4">
                    <h5>Ingresos: <span class="text-warning">{{Ingresos}}</span> $</h5>
                </div>
                <div class="col-md-4">
                    <h5>Usuarios Nuevos: <span class="text-warning">{{nuevosUsuariosMes}}</span></h5>
                </div>
                <div class="col-md-4">
                    <h5>Preguntas Nuevas: <span class="text-warning">{{preguntasNuevasDelMes}}</span></h5>
                </div>
            </div>
        </div>
    </article>

    <article class="container mb-3">
        <form method="post" action="/administrador/buscarUsuario" class="w-50 m-auto">
            <h4 class="text-white">Ingresar Usuario</h4>
            <div class="d-flex">
                <input name="usuario" type="text" class="form-control" placeholder="Nombre de usuario">
                <button class="btn btn-success px-5 ms-3" type="submit" id="button-addon2">Buscar</button>
            </div>
        </form>
        {{#error}}
        <div> {{error}}</div>
        {{/error}}

        {{#usuario}}
        <div class="row mt-5 text-center text-white">
            <div class="col-md-6"><img src="/public/img/{{fotoPerfil}}" class="img-fluid" style="max-height: 500px;">
            </div>
            <div class="col-md-6">
                <p><strong>ID:</strong> {{id}}</p>
                <input id="usuarioId" name="prodId" type="hidden" value="{{id}}">
                <p><strong>Nombre de usuario:</strong> {{nombreUsuario}}</p>
                <p><strong>Fecha registro:</strong> {{f_registro}}</p>

                <p><strong>Rol:</strong> {{rol}}</p>
                <p><strong>Estado:</strong>
                    {{#activo}} Activo {{/activo}}
                    {{^activo}} Inactivo {{/activo}}
                </p>
            </div>
        </div>
        {{/usuario}}

    </article>

    <section class="my-5 text-white bg-dark py-5">
        <div class="container">
            <article class="d-flex row">
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="filtroD" value="d" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Filtro por dia
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="filtroM" value="m">
                    <label class="form-check-label" for="exampleRadios2">
                        Filtro por mes
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="filtroY" value="y">
                    <label class="form-check-label" for="exampleRadios3">
                        Filtro por año
                    </label>
                </div>
                <div class="col-md-3"><input type="date" class="form-control" value="2020-01-01" id="fechaInicio"></div>
                <div class="col-md-3"><input type="date" class="form-control" value="2023-06-17" id="fechaFin"></div>
            </article>

            <div class="d-flex mt-3">
                <select name="tipo" id="tipo" class="form-select">
                    {{#usuario}}
                    <option value="11"> trampitas acumulados por el usuario</option>
                    <option value="12">porcentaje de preguntas respondidas correctamente por usuario</option>
                    {{/usuario}}
                    {{^usuario}}
                    <option value="1">cantidad de partidas jugadas</option>
                    <option value="2">cantidad de preguntas creadas </option>
                    <option value="3">cantidad de preguntas Disponibles en el juego</option>
                    <option value="4">cantidad de usuarios nuevos por fecha </option>
                    <option value="5">cantidad de usuarios por pais</option>
                    <option value="6">cantidad de usuarios por sexo</option>
                    <option value="7">cantidad de usuarios por grupo de edad (menores, jubilados, medio)</option>
                    <option value="8">Ganancia de Trampitas</option>
                    {{/usuario}}
                </select>
                <button class="btn btn-success px-5 ms-3" type="button" id="consultar">Buscar</button>
            </div>

            <div id="resultado"></div>
        </div>
    </section>

    <section class="p-5">
        <div class="container">
            <div id="canvasDiv" class="text-center" style="width: auto; height: auto;">
                <canvas id="myChart" class="bg-dark bg-gradient text-white"></canvas>
            </div>

            <table id="miTabla" style="display: none" class="table text-white mt-5">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                </tbody>
            </table>

            <div class="w-50 m-auto">
                <button class="btn btn-yolose text-white fw-bold py-3" type="button" id="generatePDF" disabled>Imprimir</button>
                <a href="/" class="btn btn-yolose mt-3 py-3">Volver al inicio</a>
            </div>
        </div>
    </section>




</div>