<div class="bg-jugar">
    <section class="container pt-5">

        <div class="py-5">
            <a href="/" class="btn btn-primary">Volver</a>
        </div>



        <div class="text-center text-white pt-5">
            <div id="credits">
                <ul>
                    <li><h1 class="mb-5">INTEGRANTES</h1></li>
                    <li><h3 class="mb-5">Feldman, Cristian Eduardo</h3></li>
                    <li><h3 class="mb-5">Ferez, Ivan</h3></li>
                    <li><h3 class="mb-5">Gamarra, Nahuel Orlando</h3></li>
                    <li><h3 class="mb-5">Halcague, Gabriel</h3></li>
                    <li><h3 class="mb-5">Rocha, Federico Daniel</h3></li>
                </ul>

                <img src="/public/img/toreto.jpg" alt="">
            </div>

        </div>


    </section>
</div>

<style>

    #credits {
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        margin-left: 25%;
        animation: creditsAnimation 20s linear infinite;
    }

    @keyframes creditsAnimation {
        0% {
            transform: translateY(70%);
        }
        100% {
            transform: translateY(-100%);
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 24px;
        margin-bottom: 10px;
    }
</style>

<script>
    //Se pausa, ver si meter en otro js
    document.body.addEventListener('click', function() {
        var credits = document.getElementById('credits');
        if (credits.style.animationPlayState !== 'paused') {
            credits.style.animationPlayState = 'paused';
        } else {
            credits.style.animationPlayState = 'running';
        }
    });

</script>