<div class="bg-admin">
    <section class="container text-white">
        <h2 class="py-5 text-center">Preguntas de editor</h2>
        <h3>Tabla de editor</h3>

        <div class="table-responsive">
            <table class="table table-hover text-white">

                <thead class="table-primary">
                    <tr>
                        <th>Pregunta</th>
                        <th>Accion</th>
                        <th>Categoria</th>
                        <th>Reportes</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#preguntas}}
                    <tr>
                        <td>{{preg}}</td>
                        <td><a href="/editor/verPregunta?pregunta={{id}}" class="btn btn-warning"
                                role="button">Editar</a> </td>
                        <td>{{categ}}</td>
                        <td>{{cantReporte}} <a href="/editor/verQuienReporto?pregunta={{id}}" class="btn btn-secondary"
                                role="button">
                                Ver</a> </td>
                        <td>{{descr}}</td>
                    </tr>
                    {{/preguntas}}
                </tbody>
            </table>
        </div>

        <div class="w-50 m-auto pb-5">
            <a href="/" class="btn btn-yolose mt-3 py-3">Volver al inicio</a>
        </div>
    </section>
</div>