<section class="container">
    <h2 class="mb-4 text-center">Preguntas de editor</h2>
        {{#preguntas}}
            <a href="/editor&idPregunta={{id}}"> {{preg}}<br></a>

            {{/preguntas}}
</section>