<script>
    // Función para obtener y mostrar las notificaciones
    function obtenerNotificaciones() {
        $.ajax({
            url: 'notificaciones/notificaciones',
            dataType: 'json',
            success: function(response) {
                var data = JSON.parse(response)
                if (data > 0) {
                    $('#notificaciones').text(data);
                } else {
                    $('#notificaciones').empty();
                }
            }
        });
    }
    setInterval(obtenerNotificaciones, 1000);
</script>

<div class="menu">
    <div class="btn"><a href="/perfil">PERFIL </a></div>
</div>
<div id="notificaciones"></div>

<div class="dropdown ">
    <a class="menu-icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-menu-up"></i>
    </a>
    <ul class="dropdown-menu">
        {{#administrador}}
            <li><a class="dropdown-item" href="/administrador">Admin</a></li>
            <li><a class="dropdown-item" href="/editor">Editor</a></li>
            <li><a class="dropdown-item" href="/categoria">Agregar Categoria</a></li>
        {{/administrador}}
        {{#editor}}
            <li><a class="dropdown-item" href="/editor">Editor</a></li>
            <li><a class="dropdown-item" href="/categoria">Agregar Categoria</a></li>
        {{/editor}}
        <li><a class="dropdown-item" href="/pregunta">Agregar pregunta</a></li>
        <li><a class="dropdown-item" href="/tienda">Tienda</a></li>
        <li><a class="dropdown-item" href="/ranking">Ranking</a></li>
        <li><a class="dropdown-item" href="/login/cerrarSesion">Cerrar Sesión</a></li>
    </ul>
</div>

<div class="bg-jugar d-flex flex-column justify-content-around align-items-center h-100">
    <article>
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="MODOS">MODOS</span>
                <span data-text="DE JUEGO">DE JUEGO</span>
            </h1>
            <span class="top-title">-YO LOSE-</span>
            <span class="bottom-title">¡Compite por tú honor!</span>
        </div>
    </article>
    <article class="row justify-content-center">
        <div class="col-md-4">
            <a href="/partida&tipoPartida=1" class="btn-jugar solitario"><span>SOLITARIO</span></a>
        </div>
        <div class="col-md-4">
            <a href="/partida&tipoPartida=2" class="btn-jugar ia mt-md-5"><span>VS IA</span></a>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn-jugar jugador"data-bs-toggle="modal" data-bs-target="#exampleModal" id="myModal">
                <span>VS JUGADOR</span>
            </button>


        </div>
    </article>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <article class="p-5 bg-dark-subtle rounded">
                    <div class="d-flex justify-content-center">
                        <div>
                            <form method="get" action="/perfil/usuario" >
                            <label for="usuarioBuscado" class="form-label">Buscar Usuario</label>
                            <input type="text" name="usuarioBuscado" id="usuarioBuscado" class="form-control"/>
                            <button type="submit" class="btn btn-success">Buscar</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>