{{#usuario}}
<p>{{nombre}}</p>
{{/usuario}}

<section class="container">
  <article class="row text-center">
    <div class="col-6">
      <h3>¡<strong class="text-logo">YoLoSe</strong> es un juego de preguntas gratis que puede jugar Multiplataforma!</h3>
      <h5>
        Es un excelente juego de ingenio. Podrá darle a su cerebro un impulso inmaculado mediante el
        pensamiento adictivo y el estímulo del coeficiente intelectual.
      </h5>
    </div>
    <div class="col-6">
      <img src="/public/yolose_banner.png" alt="Banner YoLoSe" class="img-fluid rounded" style="max-height: 200px;">
    </div>
    <p class="mt-3">Los cuestionarios están configurados en diferentes categorías tales
      como las clásicas preguntas con 4 respuestas, las preguntas de verdadero o falso.</p>
  </article>
</section>

<section class="bg-dark text-center text-white p-5">
  <h2 class="mb-3">¡Comenzar a Jugar!</h2>
  <h5>MODOS DE JUEGO</h5>
  <a href="/partida" class="btn btn-yolose-amarillo fw-bold px-5">SOLITARIO</a>
  <a href="#" class="btn btn-yolose-amarillo fw-bold px-5 disabled" >VS IA</a>
  <a href="#" class="btn btn-yolose-amarillo fw-bold px-5 disabled" >VS JUGADOR</a>
</section>

<section class="container mt-4">
  <article class="row align-items-stretch">
    <div class="col-6 d-flex justify-content-center">
      {{> reglas}}
    </div>
    <div class="col-6 d-flex justify-content-center">
      {{> ranking}}
    </div>
  </article>
</section>