<section class="container d-flex flex-column justify-content-around align-items-center h-100">
  {{#usuario}}
  <p class="text-center text-white">{{nombre}}</p>
  {{/usuario}}
  <article>
    <h1 class="titulo-yo">Yo</h1>
    <h1 class="titulo-lose">LoSee</h1>
  </article>

  <article class="row">
    <div class="col-md-6"><a href="/login" class="btn-yolose"><span>EMPEZAR</span></a></div>
    <div class="col-md-6"><a href="/ranking" class="btn-yolose"><span>RANKING</span></a></div>
    <div class="col-md-6"><a href="/creditos" class="btn-yolose"><span>CREDITOS</span></a></div>
    <div class="col-md-6"><a href="/tutorial" class="btn-yolose"><span>TUTORIAL</span></a></div>
  </article>
</section>