<div class="bg-inicio d-flex flex-column justify-content-around align-items-center h-100">
  <section class="container">
    {{#usuario}}
    <p class="text-center text-white">{{nombre}}</p>
    {{/usuario}}

    <article class="title-wrapper mb-5">
        <h1 class="sweet-title font-inicio">
            <span data-text="YO">YO</span>
            <span data-text="LOSE">LOSE</span>
        </h1>
    </article>
  
    <article class="row mt-5">
      <div class="col-md-6"><a href="/login" class="btn-yolose"><span>JUGAR</span></a></div>
      <div class="col-md-6"><a href="/ranking" class="btn-yolose"><span>RANKING</span></a></div>
      <div class="col-md-6"><a href="/creditos" class="btn-yolose"><span>CREDITOS</span></a></div>
      <div class="col-md-6"><a href="/tutorial" class="btn-yolose"><span>TUTORIAL</span></a></div>
    </article>
  </section>
</div>