
<section class="container">

    {{#username}}
        <p>Jugador: {{username}}</p>
    {{/username}}
    {{#preg}}
        <h1 class="text-center" style="color: {{color}}">{{pregunta}}</h1>
    {{/preg}}

    <article class="container-fluid">
        {{#opc}}
            <button type="button" name="{{id}}" id="{{id}}"
                    class="btn btn-primary btn-lg btn-block" value="{{resp}}" > {{resp}}
            </button>
        {{/opc}}
    </article>

</section>