<div class="bg-inicio">
    <section class="container d-flex flex-column justify-content-center align-items-center h-100 py-5">
        <h2 class="mb-4 text-center text-logo">FORMULARIO DE INGRESO</h2>
            <article class="border-yolose">
                <form class="d-flex justify-content-center form-yolose p-5" action="/login/iniciarSesion" method="post"
                    enctype="multipart/form-data">
                    <div>
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="username" id="username" />
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" />
    
                        <button type="submit" class="btn-yolose px-5 py-2">Enviar</button>
                        <hr>
                        <hr>
                        <a href="/registro" class="btn-yolose px-5 py-2">Registrarse</a>
                    </div>
                </form>
                {{#error}}
                <div class="text-danger text-center fw-bold mt-3">
                    {{message}}
                </div>
                {{/error}}
            </article>
    </section>
</div>