<div class="bg-jugar">
    <section class="container text-center text-white text-shadow">
        <h1 class="titulo-partida py-5">MI PERFIL</h1>
        <div class="row pt-5">
            <div class="col-md-4">
                {{#perfil}}
                    <p id="nUsuario"><strong>Usuario:</strong> {{nombreUsuario}}</p>
                    <p><strong>Nombre:</strong> {{nombre}}</p>
                    <p><strong>Fecha Nacimiento:</strong> {{f_nacimiento}}</p>
                    <p><strong>Genero:</strong> {{descr}}</p>
                    <p><strong>Miembro desde:</strong> {{f_registro}}</p>
                    <p><strong>Estado:</strong> {{#activo}}  Activo {{/activo}} {{^activo}}  Inactivo {{/activo}}</p>
                    <p><strong>Mejor Logro:</strong> {{maximoRespuestasCorrectas}} Preguntas Correctas</p>
                    <p><strong>Ranking solitario :</strong> {{rank}}</p>
                {{/perfil}}
            </div>
            <div class="col-md-4">
                {{#perfil}}
                    <img src="/public/img/{{fotoPerfil}}" class="img-fluid" style="max-height: 200px;">
                {{/perfil}}
                <div id="map" class="mt-5" style="width: 100%; height: 100px;"></div>
            </div>
            <div class="col-md-4">
                <img src="/{{rutaQR}}" class="img-fluid responsive" style="max-height: 200px;" alt="QR">
            </div>
        </div>
        <a href="/" class="btn-yolose p-3 my-5 w-50 m-auto">Ir al incio</a>
    </section>
</div>