<div class="bg-jugar">
    <section class="container">
        {{#rankingBot}}
        {{idUs}}
        {{/rankingBot}}
        {{#rankingPvP}}
        {{idUs}}
        {{/rankingPvP}}

        <h2 class="text-logo pt-5 text-center">Top 10 Solo</h2>
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#rankingSolo}}
                    <tr>
                        <td><a href="/perfil/usuario/user={{nombreUsuario}} " class="text-white fw-bold">{{nombreUsuario}}</a></td>
                        <td><img src="/public/img/{{fotoPerfil}}" style="width: 50px;"></td>
                        <td class="fw-bold">{{puntaje}}</td>
                    </tr>
                    {{/rankingSolo}}
                </tbody>
            </table>
        </div>

        <h2 class="text-logo pt-5 text-center">Top 10 vs Ia</h2>
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#rankingBot}}
                    <tr>
                        <td><a href="/perfil/usuario/user={{nombreUsuario}} ">{{nombreUsuario}}</a></td>
                        <td><img src="/public/{{fotoPerfil}}" style="width: 50px;"></td>
                        <td>{{puntaje}}</td>
                    </tr>
                    {{/rankingBot}}
                </tbody>
            </table>
        </div>

        <div class="py-5">
            <a href="/" class="btn-yolose p-3 w-50 m-auto">Volver</a>
        </div>
    </section>
</div>