{{> header}}

<div class="w3-modal-content w3-card-4 w3-padding">
    <!-- <form action="../recibirImagen.php" method="POST" enctype="multipart/form-data"> -->
    <form action="index.php?module=registro&action=register" method="POST" enctype="multipart/form-data">
        <div>
            <label for="nombre">Nombre: <input type="text" name="nombre" placeholder="nombre" class="w3-input w3-border w3-margin-bottom"></label>
        </div>
        <div>
            <label for="usuario">Usuario: <input type="text" name="usuario" placeholder="nombre" class="w3-input w3-border w3-margin-bottom"></label>
        </div>


            <div>
                <label for="apellido">Apellido: <input type="text" name="apellido" placeholder="apellido" class="w3-input w3-border w3-margin-bottom"></label>
            </div>
        <div>
            <label for="email">Email: <input type="email" name="email" placeholder="email" class="w3-input w3-border w3-margin-bottom"></label>
        </div>
            <div>
                <label for="nacimiento">Fecha de nacimiento: <input type="date" name="nacimiento" placeholder="fecha" class="w3-input w3-border w3-margin-bottom"></label>
            </div>

        <div>
        </div>
        <div>
            <label for="sexo"> sexo:
                <select name="tipo" id="tipo" class="w3-select">
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                    <option value="3">Prefiero no carcarlo</option>
                </select>
            </label>

        </div>
         <div>
            <label for="password">Contraseña: <input type="password" name="password" placeholder="password" class="w3-input w3-border w3-margin-bottom"></label>
         </div>
       <div>
         <label for="password2"> Repetir Contraseña: <input type="password" name="password2" placeholder="repita su password" class="w3-input w3-border w3-margin-bottom"></label>
         </div>

        <div>
            <label for="archivo">Foto de Perfil</label>
            <input type="file" name="archivo"  class="w3-input w3-border w3-margin-bottom" >
        </div>

        <div>
            <label> aca va el mapa con los paises: <input type="text" name="descripcion" placeholder="descripcion" class="w3-input w3-border w3-margin-bottom"></label>
        </div>


        <div>
            <input type="submit" name="Enviar" class="w3-input w3-border w3-margin-bottom w3-red" value="Registrarme" >
        </div>

    </form>
</div>


{{> footer}}