
    <h1>formulario de reportar</h1>

    {{#pregunta}}

        <h2> {{preg}}
    {{/pregunta}}
    {{#respuestas}}
            <table class="w3-table ">
                <tr>
                    <td> <button class="w3-button  w3-center w3-border  w3-black w3-max" style="width:100%">{{resp}}</button> </td>
                </tr>
            </table>
    {{/respuestas}}

    {{#respuestaCorrecta}}
        <h2> {{idResp}}</h2>
    {{/respuestaCorrecta}}</h2>


