<h1 class="text-center">Preguntas Reportadas</h1>
<section class="container">
<article class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Pregunta</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {{#pregunta}}
            <tr>
                <td>{{pregunta.preg}}</td>
                <td>Hola</td>
                <td><a class="btn btn-primary" href="/pregunta/habilitar&id={{pregunta.id}}" role="button">Habilitar</a> |
                    <a class="btn btn-danger" href="/pregunta/eliminar&id={{pregunta.id}}" role="button">Eliminar</a>
                </td>
            </tr>
        {{/pregunta}}
        </tbody>
    </table>
</article>
</section>