<section class="container">
    <p>{{username}}</p>
    <div class="card">
      <div class="card-body">
        {{#score}}
            <h1 class="text-center">{{.}}</h1>
        {{/score}}
      </div>
    </div>
</section>