<section class="container">
    <h1 class="text-center">Tienda para comprar de Trampas</h1>
    <div class="row">
        {{#trampas}}
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/public/img/estrella.webp" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-header">{{descr}}</p>
                        <p class="card-text">Con esta trampa podes salterar una pregunta sin responderla</p>
                        <p class="card-text">{{precio}}</p>
                        <button type="button" name="{{idTrampa}}" id="{{idTrampa}}"
                                class="btn btn-dark btn-lg btn-block comprar" value="{{idTrampa}}">
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
        {{/trampas}}
    </div>
</section>