{{> header}}
{{#ok}}
    <div class="alert alert-success" role="alert">
        <strong>{{ok}}</strong>
    </div>
{{/ok}}
{{#error}}
    <div class="alert alert-danger" role="alert">
        <strong>{{error}}</strong>
    </div>
{{/error}}
{{#id}}
<main class="contenedor">
    <a name="validar" id="validar" class="btn btn-primary" href="/validation/validar&id={{id}}"
       role="button">Activar Cuenta</a>
</main>
{{/id}}
{{> footer}}