<div class="bg-admin">
    <div class="container text-white py-5">
        <h1>Reporte preguntas</h1>
        {{#pregunta}}
        <p>{{preg}}</p>
        {{/pregunta}}
        <table class="table text-white table-hover">

            <thead class="table-primary">
                <tr>
                    <td>Reportada por</td>
                    <td>Fecha de reporte</td>
                </tr>
            </thead>
            <tbody>
                {{#reporte}}
                <tr>
                    <td>{{nombreUsuario}}</td>
                    <td> {{f_reporte}}</td>
                </tr>
                {{/reporte}}
            </tbody>
        </table>

        {{^reporte}}
        <h3>La pregunta no ha sido reportada</h3>
        {{/reporte}}

        <div class="w-50 m-auto pb-5">
            <a href="/editor" class="btn btn-yolose mt-3 py-3">Volver</a>
        </div>
    </div>
</div>